.dialog {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 2%;
}
.dialog-content {
    width: 35vw;
    height: 35vh;
    max-height: 700px;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #aa141c;
    display: flex;
    flex-direction: column;
}
.dialog-content header {
    min-height: 3.75em;
    height: 3.75em;
    color: #fff;
   
    display: grid;
    padding-left: 0.5em;
    align-items: center;
    grid-template-columns: auto 3.75em;
}
.dialog header h4 {
    margin: 0;
    text-align: left;
}
.dialog-content header span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1em;
    opacity: 0.8;
    cursor: pointer;
}
.dialog-content header span:hover {
    opacity: 1;
}
.dialog-content .dialog-main {
    flex: 1;
    text-align: left;
    overflow: auto;
    padding: 0.5em;
    color: #fff;
}


